{% if display_title == "1" %}
<img src="{{ asset('bundles/core/images/logo-instagram.png') }}" alt="Logo Instagram" width="32px" class="pull-left" />
<h4 class="col col-11">Instagram</h4>
<div class="clearfix"></div>
{% endif %}
<div class="instagram-flow">
{% for media in medias %}
    {% if media.type == 'image' %}
        <div><img src="{{ media.getStandardResImage().url }}" class="img-responsive" /></div>
    {% endif %}
{% endfor %}
</div>