<div id="map_itineraires"></div>
<script type="text/javascript">
    var points = JSON.parse('{{ points|raw }}');
</script>
<script type="text/javascript" src="{{ asset('/bundles/core/js/itineraires.js') }}"></script>