<div id="stats-content">
    <canvas id="randos"></canvas>
</div>

<script type="text/javascript">
var labels_randos = ["{{ labels|join("\",\"")|raw }}"];
var data_deniveles = [{{ data_denivele|join(",") }}];
</script>
<script type="text/javascript" src="{{ asset('/bundles/core/js/randos.js') }}"></script>