<div class="widget widget_search">
    {% if display_title %}
        <h4 class="widget-title">{{ title }}</h4>
    {% endif %}
    <form role="search" method="get" id="searchform" action="{{ path('front_search') }}">
        <input type="text" placeholder="Rechercher..." name="q" id="q">
    </form>
</div>