{% extends "::admin/base_admin.html.twig" %}
{% block body %}
<div class="section-body">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="content">
					<h3>Bienvenue !</h3>
					<div class="row">
						<div class="col-md-4">
							<h4>Lancez-vous</h4>
							<a href="" class="btn ink-reaction btn-raised btn-lg btn-primary">Personnalisez votre site</a>
						</div>
						<div class="col-md-4">
							<h4>Etapes suivantes</h4>
							<ul class="list divider-full-bleed">
								<li class="tile">
									<a href="" class="tile-content ink-reaction">
										<div class="tile-icon"><i class="fa fa-edit"></i></div>
										<div class="tile-text">Modifiez votre page d'accueil</div>
									</a>
								</li>
								<li class="tile">
									<a href="" class="tile-content ink-reaction">
										<div class="tile-icon"><i class="fa fa-plus"></i></div>
										<div class="tile-text">Ajoutez de nouvelles pages</div>
									</a>
								</li>
								<li class="tile">
									<a href="" class="tile-content ink-reaction" target="_blank">
										<div class="tile-icon"><i class="fa fa-desktop"></i></div>
										<div class="tile-text">Affichez votre site</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<h4>Plus d'actions</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header"></div>
                <div class="content">
                    <div id="stats-content">
                        <canvas id="doughnut"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/content/js/stats.js') }}"></script>
{% endblock body %}


