{% extends "::admin/base_admin.html.twig" %}
{% block body %}
<div class="section-body">

    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="header"></div>
                <div class="content">
                    <div id="stats-content">
                        <canvas id="doughnut"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="header"></div>
                <div class="content">
                    <div id="stats-content">
                        <canvas id="line"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="header"></div>
                <div class="content">
                    {{ widget('randos') }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="header"><h1>Derniers articles</h1></div>
                <div class="content">{{ widget('last-posts') }}</div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="{{ asset('bundles/content/js/stats.js') }}"></script>
{% endblock body %}


