<table class="table agenda-title">
	<thead>
		<tr>
			<th class="pull-left"><a href=""><i class="icon-chevron-left"></i></a></th>
			<th class="link-month-agenda"><h4 class="month-agenda" data-month="{{ first_day|date('F') }}" data-year="{{ first_day|date('Y') }}"><a href="javascript:loadMonthView();">{{ first_day|date('F')|trans|capitalize ~ " " ~ first_day|date("Y") }}</a></h4></th>
			<th class="pull-right"><a href=""><i class="icon-chevron-right"></i></a></th>
		</tr>
	</thead>
</table>