<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/style.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<div class="left-header pull-left">
				<a href=""><span id="logo"></span><span class="title"></span></a>
			</div>
			<div class="right-header pull-right">
				<div class="buttons pull-right">
					<a href="" class="btn btn-fill">Inscription</a>
					<a href="" class="btn btn-simple">Login</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</header>
</body>
</html>