{% if value is defined and value.artist is defined %}
    <h5>{{ title }}</h5>
    <div class="music"></div>
    <script type="text/javascript" src="{{ asset('bundles/content/js/deezer.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            search('{{ value.artist }}');
        });
    </script>
{% endif %}