{% if value is defined and value.artist is defined and value.artist != '' %}
    <h5>{{ title }}</h5>
    <div class="music" data-artist="{{ value.artist }}">
        <div class="loader">
            <div class="lp-background"></div>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            loadjsfile("{{ asset('bundles/content/js/deezer.js') }}", false);
        });
    </script>
{% endif %}