<div id="map"></div>
<script>
    var map;
    function initMap() {
        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: 45.20774, lng: 5.96416}
        });

        var ctaLayer = new google.maps.KmlLayer({
            url: 'https://drive.google.com/uc?export=download&id=0B3Hwae40RtupMEdvdWNoOHc4ZUU'
        });
        console.log(ctaLayer);
        ctaLayer.setMap(map);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwy2LBbH0VPoPB3lpb8qqqJhADEZZCYs4&callback=initMap"></script>