<h3>{{ title }}</h3>
<div class="weather"></div>
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        var ville = "{{ value.ville }}";
        $.ajax({
            url: Routing.generate("weather_ajax", {'city': ville}),
            dataType: 'json',
            success: function(data) {
                var result = data.query.results.channel.item.condition;
                var celsius = Math.ceil(fahrenheitToCelsius(result.temp));
                $('.weather').html('<img src="/bundles/content/img/simple_weather_icon_'+result.code+'.png" width="64"><br />'+celsius+'°C '+result.text);
            }
        });
    });

    function fahrenheitToCelsius(temp) {
        return (temp - 32) * (5/9);
    }
</script>
{% endblock %}