</div>
<nav id="main-nav">
    <div class="container">
        <h4 class="dancing">Partir c'est crever un pneu</h4>
        {{ render_menu('menu-principal') }}
    </div>
</nav>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
<script>
    // Look for .hamburger
    var hamburgers = $(".hamburger");
    var main_nav = $("#main-nav");
    hamburgers.each(function() {
        var hamburger = $(this);
        hamburger.on('click', function() {
            if (!$(this).hasClass('is-active')) {
                $('.hamburger').addClass('is-active');
                main_nav.fadeIn('slow');
            } else {
                $('.hamburger').removeClass('is-active');
                main_nav.fadeOut('slow');
            }
        })
    })

    $(document).ready(function () {
        var image = $('#main-header').data('background');
        $('#main-header').css('background-image', 'url(' + image + ')');

    })

    // external js: isotope.pkgd.js

    // init Isotope
    var $grid = $('.section').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows'
    });

    // bind filter button click
    $('.nav-category > li > a').on( 'click', function() {
        var filterValue = $( this ).attr('data-filter');
        console.log(filterValue);
        $grid.isotope({ filter: filterValue });
    });

</script>
</body>
</html>