</div>
<nav id="main-nav">
    <div class="container">
        <h4 class="dancing">Partir c'est crever un pneu</h4>
        {{ 'menu-principal'|render_menu|raw }}
    </div>
</nav>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    // Look for .hamburger
    var hamburgers = $(".hamburger");
    var main_nav = $("#main-nav");
    hamburgers.each(function() {
        var hamburger = $(this);
        hamburger.on('click', function() {
            if (!$(this).hasClass('is-active')) {
                $('.hamburger').addClass('is-active');
                main_nav.fadeIn('slow');
            } else {
                $('.hamburger').removeClass('is-active');
                main_nav.fadeOut('slow');
            }
        })
    })

    $(document).ready(function () {
        var image = $('#main-header').data('background');
        $('#main-header').css('background-image', 'url(' + image + ')');

    })
</script>
</body>
</html>