</div>
<nav id="main-nav">
    <div class="container">
        <h4 class="dancing">Partir c'est crever un pneu</h4>
        {{ render_menu('header') }}
    </div>
</nav>

<footer>
    <div class="footer-inner">
        <div class="col col-3 logo">
            <span class="bordered">TRAVELCLOUD</span>
        </div>
        <div class="col col-6">
            <img src="{{ asset('/templates/' ~ theme ~ '/assets/logo-instagram.png') }}" alt="Logo Instagram" width="32px" class="pull-left" />
            <h4 class="col col-11">Instagram</h4>
            <div class="clearfix"></div>
            {{ instagram_images() }}
        </div>
        <div class="col col-3">
            {{ render_menu('footer') }}
        </div>
        <div class="clearfix"></div>
    </div>
</footer>

<script>
    // Look for .hamburger
    var hamburgers = $(".hamburger");
    var main_nav = $("#main-nav");
    hamburgers.each(function () {
        var hamburger = $(this);
        hamburger.on('click', function () {
            if (!$(this).hasClass('is-active')) {
                $('.hamburger').addClass('is-active');
                main_nav.fadeIn('slow');
            } else {
                $('.hamburger').removeClass('is-active');
                main_nav.fadeOut('slow');
            }
        })
    })

    $(document).ready(function () {
        var image = $('#main-header').data('background');
        $('#main-header').css('background-image', 'url(' + image + ')');

    })

    var link_parents = $('.menu-parent > a');
    link_parents.on('click', function (e) {
        var $this = $(this);
        if (!$this.parent().hasClass('opened')) {
            e.preventDefault();
            $this.parent('li').find('ul.menu-items-children').toggle('slide');
            $this.parent('li').addClass('opened');
        }
    });
</script>
</body>
</html>