{% extends "::admin/base_admin.html.twig" %}

{% block body -%}
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<div class="card">
			<div class="header">{{ 'cms.content.content_taxonomy'|trans }}</div>
			<div class="content">
				{{ form(form) }}
                <div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}