<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="CMSApp">
	<div id="content"></div>
	<header class="{{classHeader}}">
		<div class="container">
			<div class="left-header pull-left">
				<a href=""><span id="logo"></span><span class="title"></span></a>
			</div>
			<div class="right-header pull-right">
				<div class="buttons pull-right">
					<a href="" class="btn btn-fill">Inscription</a>
					<a href="" class="btn btn-simple">Login</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</header>
	<div ng-view class="view-frame"></div>

	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-resource.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>
	<script src="assets/js/controllers.js"></script>
	<script src="assets/js/directive.js"></script>
	<script src="assets/js/services.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>