{{ file_details(medium, "list")|raw }}
<a href="javascript:" onclick="addMedia(this)" class="btn btn-primary pull-right" data-id="{{ medium.id }}">{{ "cms.media.featured_image"|trans }}</a>
<div class="clearfix"></div>
{{ form(form) }}